---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { getNotFoundBannerImage } from "@scripts/handleBannerImages";

import { basics, bannerSection } from "@data";

const { name } = basics;
const { bannerNotFoundImages } = bannerSection;

const [bg1] = bannerNotFoundImages.map(({ id }) => `url(${getNotFoundBannerImage(id)})`);
---

<Layout title={`${name} 404`}>
    <div>
        <header>
            <Navbar />
        </header>
        <main>
            <span>404</span>
        </main>
        <Footer backgroundColor="transparent" />
    </div>
</Layout>

<style define:vars={{ bg1 }}>
    div::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--image-background);
        z-index: -1;
    }

    div,
    div > header {
        display: flex;
        flex-direction: column;
    }

    div {
        padding: 1rem 1rem 0 1rem;
        position: relative;
        gap: 3rem;
        min-height: 100vh;
        background: var(--bg1) no-repeat center center / cover;
        z-index: 1;
    }

    div > header {
        align-items: center;
    }

    div > main {
        flex: 1;
        margin-top: 3rem;
        display: grid;
        place-items: center;
        min-height: calc(50vh - 43px - 7.5rem);
    }

    div > main > span {
        font-size: clamp(10rem, 20vw, 20rem);
        color: var(--neutral-50);
        line-height: 1;
    }

    @media screen and (width < 768px) {
        div > main {
            min-height: calc(75vh - 43px - 7.5rem);
        }
    }
</style>
