---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/sections/Hero.astro";
import Awards from "@/sections/Awards.astro";
import AboutUs from "@/sections/AboutUs.astro";
import Testimonies from "@/sections/Testimonies.astro";
---

<Layout title="Lácteos El Torito">
    <header>
        <Navbar />
        <Hero />
        <Awards />
    </header>
    <main>
        <AboutUs />
        <Testimonies />
    </main>
</Layout>

<style>
    header::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    header {
        color: var(--neutral-900);
        z-index: 1;
        padding: 0.5rem 1rem;
        min-height: 100dvh;
        background: url("../assets/images/company/backgroundImage1.jpg") no-repeat center center/cover;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
</style>
