---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";
import Hero from "@sections/Hero.astro";
import Awards from "@sections/Awards.astro";
import AboutUs from "@sections/AboutUs.astro";
---

<Layout title="Lácteos El Torito">
    <header>
        <Navbar />
        <Hero />
        <Awards />
    </header>
    <main>
        <AboutUs />
    </main>
</Layout>

<style>
    header::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    header {
        color: var(--neutral-900);
        z-index: 1;
        padding: 1rem;
        min-height: 100dvh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        animation: changeBackground 25s infinite linear;
    }

    @keyframes changeBackground {
        0%,
        15%,
        100% {
            background-image: url("../assets/images/company/backgroundImage1.webp");
        }
        20%,
        35% {
            background-image: url("../assets/images/company/backgroundImage2.webp");
        }
        40%,
        55% {
            background-image: url("../assets/images/company/backgroundImage3.webp");
        }
        60%,
        75% {
            background-image: url("../assets/images/company/backgroundImage4.webp");
        }
        80%,
        95% {
            background-image: url("../assets/images/company/backgroundImage5.webp");
        }
    }

    main {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
</style>
