---
type Props = {
    type: "CTA" | "button";
    className: "primary" | "secondary";
    buttonType?: "button" | "submit";
    href?: string;
};

const { type, className, buttonType, href } = Astro.props;
---

{
    type === "button" ? (
        <button type={buttonType} class={className}>
            <slot />
        </button>
    ) : (
        <a href={href} class={className}>
            <slot />
        </a>
    )
}
<style>
    button,
    a {
        border-radius: var(--border-radius);
        text-align: center;
    }

    :is(button.primary, a.primary) {
        background-color: var(--primary-500);
        color: var(--neutral-50);
        padding: 0.5625rem 1.5625rem;
        border: none;
        transition:
            opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }

    :is(button.primary:hover, a.primary:hover) {
        opacity: 0.9;
        scale: 1.01;
    }

    :is(button.secondary, a.secondary) {
        border: 1px solid var(--primary-500);
        background-color: transparent;
        color: var(--primary-500);
        padding: 0.5rem 1.5rem;
    }

    button:has(svg),
    a:has(svg) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
</style>
