---
type Props = {
    href: string;
};

const { href } = Astro.props;
---

<a href={href}>
    <slot />
</a>

<style>
    a {
        border-radius: var(--border-radius);
        text-align: center;
        background-color: var(--primary-500);
        color: var(--neutral-50);
        padding: 0.5625rem 1.5625rem;
        border: none;
    }

    a:has(svg) {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
</style>
