---
import Button from "./Button.astro";

type Props = {
    buttonText: string;
};

const { buttonText } = Astro.props;
---

<form>
    <slot />
    <Button type="submit" className="primary-btn">{buttonText}</Button>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1;
    }
</style>
