---
type Props = {
    number: string;
};

const { number } = Astro.props;
---

<span>{number}</span>

<style>
    span {
        font-size: 1rem;
        transition:
            font-size 0.3s ease-in-out,
            font-weight 0.3s ease-in-out;
    }

    span.active {
        font-size: 1.75rem;
        font-weight: var(--font-weight-title);
    }
</style>
