---
type Props = {
    id: "our-team" | "testimonies" | "products" | "about-us" | "FAQ" | "contact-us";
    flexDirection?: "row" | "column";
    paddingInline?: "1rem" | 0;
};

const { id, flexDirection = "row", paddingInline = "1rem" } = Astro.props;
---

<section id={id}>
    <slot />
</section>

<style define:vars={{ flexDirection, paddingInline }}>
    section {
        padding: 1rem var(--paddingInline);
        display: flex;
        flex-direction: var(--flexDirection);
        gap: 2rem;
        /* min-height: 100vh; */
    }
</style>
