---
type Props = {
    id: "our-team" | "testimonies" | "products" | "about-us" | "FAQ" | "contact-us";
    flexDirection?: "row" | "column";
};

const { id, flexDirection = "row" } = Astro.props;
---

<section id={id}>
    <slot />
</section>

<style define:vars={{ flexDirection }}>
    section {
        padding-block: 1rem;
        width: min(100%, var(--max-width));
        display: flex;
        flex-direction: var(--flexDirection);
        gap: 2rem;
        min-height: 100vh;
    }
</style>
