---
import CTA from "./CTA.astro";
import PhoneIcon from "@icons/PhoneIcon.astro";
import { Image } from "astro:assets";
import { basics } from "@data";

const { name, logo } = basics;
---

<nav>
    <div>
        <a href="/#">
            <Image src={logo} alt={`Logo de ${name}`} width={50} height={50} />
        </a>
        <button id="menu-btn" type="button">
            <span style="--index: 3"></span>
            <span style="--index: 2"></span>
            <span style="--index: 1"></span>
        </button>
    </div>
    <ul>
        <li><a href="/#about-us">Sobre nosotros</a></li>
        <li><a href="/#testimonies">Testimonios</a></li>
        <li><a href="/#our-team">Nuestro equipo</a></li>
    </ul>
    <CTA href="/#contact-us">
        Contacto <PhoneIcon width={16} height={16} color="var(--neutral-50)" />
    </CTA>
</nav>

<style>
    nav {
        width: min(100%, var(--max-width));
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    nav > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: auto;
    }

    nav > div > a {
        display: flex;
    }

    nav > div > button {
        width: 36px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        display: none;
    }

    button > span {
        width: calc(var(--index) * 33.33%);
        height: 3px;
        background-color: var(--neutral-50);
        border-radius: var(--border-radius);
    }

    nav > div > a > img {
        max-width: 50px;
        height: auto;
        object-fit: contain;
    }

    nav > ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
    }

    nav > ul > li::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: var(--neutral-50);
        transition:
            transform 0.3s ease-in-out,
            width 0.3s ease-in-out;
    }

    nav > ul > li {
        position: relative;
    }

    nav > ul > li:hover::before {
        width: 100%;
        transform: translateX(-50%);
    }

    nav > ul > li > a {
        color: var(--neutral-50);
    }

    @media screen and (width <= 768px) {
        nav > div > button {
            display: flex;
        }

        nav > ul {
            display: none;
        }

        /* nav > ul {
            transform: translateY(-100%);
            display: none;
        }

        nav > ul.open {
            display: flex;
            padding: 1rem;
            position: fixed;
            inset: 0;
            align-items: start;
            flex-direction: column;
            background-color: var(--neutral-50);
            z-index: 10;
            transform: translateY(0);
            transition: transform 0.3s ease-in-out;
        }

        nav > ul > li > a {
            color: var(--neutral-900);
        } */
    }
</style>

<!-- <script>
    const menuBtn = document.getElementById("menu-btn") as HTMLButtonElement;
    const nav = document.querySelector("nav > ul") as HTMLElement;

    menuBtn.addEventListener("click", () => {
        nav.classList.toggle("open");
    });
</script> -->
