---
import Actionable from "./Actionable.astro";
import PhoneIcon from "@icons/PhoneIcon.astro";
import logo from "@images/company/logo.webp";
import { Image } from "astro:assets";

import { basics } from "@data";

const { name } = basics;
---

<nav class="navbar">
    <div>
        <a href="./#"><Image src={logo} alt={`Logo de ${name}`} /></a>
        <button id="menu-btn" type="button">
            <span style="--index: 3"></span>
            <span style="--index: 2"></span>
            <span style="--index: 1"></span>
        </button>
    </div>
    <ul>
        <li><a href="./#about-us">Sobre nosotros</a></li>
        <li><a href="./#testimonies">Testimonios</a></li>
        <li><a href="./#our-team">Nuestro equipo</a></li>
    </ul>
    <Actionable type="CTA" className="primary" href="./#contact-us">
        Contacto <PhoneIcon width={16} height={16} color="var(--neutral-50)" />
    </Actionable>
</nav>
<div id="overlay"></div>

<script src="../scripts/handleNavbar.ts"></script>

<style>
    nav {
        width: min(100%, var(--max-width));
        display: flex;
        align-items: center;
        gap: 2rem;
        transition: width 0.3s ease-in-out;
    }

    nav > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: auto;
    }

    nav > div > a {
        display: flex;
    }

    nav > div > button {
        display: none;
    }

    nav > div > a > img {
        max-width: 43px;
        height: auto;
        object-fit: contain;
    }

    nav > ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    nav > ul > li::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: var(--neutral-50);
        transition:
            transform 0.3s ease-in-out,
            width 0.3s ease-in-out;
    }

    nav > ul > li {
        position: relative;
    }

    nav > ul > li:hover::before {
        width: 100%;
        transform: translateX(-50%);
    }

    nav > ul > li > a {
        color: var(--neutral-50);
    }

    @media screen and (width <= 768px) {
        nav > div > button {
            display: flex;
            width: 36px;
            height: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: transparent;
            border: none;
        }

        nav > div > button > span {
            width: calc(var(--index) * 33.33%);
            height: 3px;
            background-color: var(--neutral-50);
            border-radius: var(--border-radius-out);
            transition:
                width 0.9s ease-in-out,
                transform 0.9s ease-in-out,
                opacity 0.9s ease-in-out,
                background-color 0.6s ease-in-out;
        }

        nav > ul {
            display: none;
        }

        /* NAV OPEN */

        nav.open {
            padding: 1rem;
            position: fixed;
            top: 0;
            left: 0;
            width: auto;
            height: 100vh;
            flex-direction: column;
            align-items: start;
            background-color: var(--neutral-50);
            border-radius: 0 var(--border-radius-out) var(--border-radius-out) 0;
            z-index: 998;
        }

        nav.open > div {
            width: 100%;
        }

        nav.open > div > button {
            margin-left: auto;
        }

        nav.open > div > button > span {
            background-color: var(--neutral-900);
            width: 75%;
        }

        nav.open > div > button > span:nth-child(1) {
            transform: translateX(12px) translateY(10.5px) rotate(45deg);
        }

        nav.open > div > button > span:nth-child(2) {
            opacity: 0;
        }

        nav.open > div > button > span:nth-child(3) {
            transform: translateX(12px) translateY(-10.5px) rotate(-45deg);
        }

        nav.open > ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: start;
        }

        nav.open > ul > li > a {
            color: var(--neutral-900);
        }

        nav + div {
            transition: background-color 0.3s ease-in-out;
        }

        nav.open + div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 997;
        }
    }
</style>
