---
import AboutDetailCard from "@components/AboutDetailCard.astro";
import { aboutUs } from "@data";
---

<section id="about-us">
    <h2>Sobre nosotros</h2>
    <div>
        {
            aboutUs.map(({ title, image, content }, index) => (
                <AboutDetailCard
                    number={(index + 1).toString().padStart(2, "0")}
                    image={image}
                    title={title}
                    content={content}
                />
            ))
        }
    </div>
</section>

<style>
    section,
    section > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    section {
        width: min(100%, var(--max-width));
    }

    section > div {
        /* overflow: clip; */
        contain: paint;
    }
</style>
