---
import AboutDetailCard from "@components/AboutDetailCard.astro";
import MainSection from "@components/MainSection.astro";
import { aboutUs } from "@data";
---

<MainSection id="about-us" flexDirection="column">
    <h2>Sobre nosotros</h2>
    <div>
        {
            aboutUs.map(({ title, image, content }, index) => (
                <AboutDetailCard
                    number={(index + 1).toString().padStart(2, "0")}
                    image={image}
                    title={title}
                    content={content}
                />
            ))
        }
    </div>
</MainSection>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        contain: paint;
    }
</style>
