---
import AboutDetailCard from "@/components/AboutDetailCard.astro";
import { aboutUs } from "@data";
---

<section id="about-us">
    <div>
        <div>
            <h2>Sobre nosotros</h2>
            <div>
                {
                    aboutUs.map(({ title, image, content }, index) => (
                        <AboutDetailCard
                            number={(index + 1).toString().padStart(2, "0")}
                            image={image}
                            title={title}
                            content={content}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style>
    section {
        width: min(100%, var(--max-width));
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    /* section > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 500vh;
        view-timeline-name: --section-pin-tl;
        view-timeline-axis: block;
        position: relative;
    }

    section > div > div {
        position: sticky;
        inset: 0;
        height: 100dvh;
        overflow: hidden;
        background-color: rgba(255, 0, 0, 0.137);
    }
    */

    section > div > div > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        /* animation: prueba linear both;
        animation-timeline: --section-pin-tl;
        animation-range: 20% contain; */
    }

    /*
    @keyframes prueba {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    } */
</style>
