---
import AwardCard from "@components/AwardCard.astro";
import { heroSection } from "@data";

const { awards } = heroSection;
const totalAwards = awards.length;
---

<section>
    {
        awards.map(({ title, value }, index) => (
            <AwardCard index={index} title={title} value={value} totalAwards={totalAwards} />
        ))
    }
</section>

<style>
    section {
        width: min(100%, var(--max-width));
        display: flex;
        justify-content: end;
        gap: 2rem;
        overflow: hidden;
    }

    @media screen and (width <= 905px) {
        section {
            height: 170px;
            position: relative;
        }
    }

    @media screen and (width <= 480px) {
        section {
            height: 160px;
        }
    }
</style>
