---
import AwardCard from "@/components/AwardCard.astro";
import { awards } from "@data";
---

<section>
    {awards.map(({ title, value }) => <AwardCard title={title} value={value} />)}
</section>

<style>
    section {
        width: min(100%, var(--max-width));
        display: flex;
        justify-content: end;
        gap: 2rem;
    }
</style>
