---
import FAQItem from "@components/FAQItem.astro";
import MainSection from "@components/MainSection.astro";
import { FAQs } from "@data";
---

<MainSection id="FAQ" flexDirection="column">
    <h2>Preguntas frecuentes</h2>
    <div>
        {FAQs.map(({ question, answer }) => <FAQItem question={question} answer={answer} />)}
    </div>
</MainSection>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1;
    }
</style>
