---
import FAQItem from "@components/FAQItem.astro";
import MainSection from "@components/MainSection.astro";
import { FAQsSection } from "@data";

const { title, description, FAQs } = FAQsSection;
---

<MainSection id="FAQ" flexDirection="column">
    <div>
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
    <div>
        {FAQs.map(({ question, answer }) => <FAQItem question={question} answer={answer} />)}
    </div>
</MainSection>

<style>
    div:last-child {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1;
    }

    p {
        text-align: center;
    }
</style>
