---
import Button from "@/components/Button.astro";
import HeaderCarouselControl from "@/components/HeaderCarouselControl.astro";
import { basics } from "@data";
const { name, summary, mainImages } = basics;
---

<section>
    <div>
        <h1>{name}</h1>
        <p>{summary}</p>
        <Button type="button" className="primary-btn">Ver productos</Button>
    </div>
    <div id="carousel-controls">
        {mainImages.map((_, index) => <HeaderCarouselControl number={(index + 1).toString().padStart(2, "0")} />)}
    </div>
</section>

<style>
    section {
        width: min(100%, var(--max-width));
        color: var(--neutral-50);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    div:first-child {
        align-items: start;
    }

    div:last-child {
        align-items: center;
    }

    p {
        font-size: 1.125rem;
        max-width: 50ch;
    }
</style>

<script>
    const carouselControlSpans = document.querySelectorAll("#carousel-controls span");
    let currentIndex = 0;

    const activateNext = () => {
        carouselControlSpans[currentIndex].classList.remove("active");
        currentIndex = (currentIndex + 1) % carouselControlSpans.length;
        carouselControlSpans[currentIndex].classList.add("active");
    };

    carouselControlSpans[0].classList.add("active");

    setInterval(activateNext, 5000);
</script>
