---
import Button from "@components/Button.astro";
import HeaderCarouselControl from "@components/HeaderCarouselControl.astro";
import { basics } from "@data";

const { name, summary, mainImages } = basics;
---

<section>
    <div class="hero__content">
        <h1>{name}</h1>
        <p>{summary}</p>
        <Button type="button" className="primary-btn">Ver productos</Button>
    </div>
    <div class="carousel__controls" id="carousel-controls">
        {mainImages.map((_, index) => <HeaderCarouselControl number={(index + 1).toString().padStart(2, "0")} />)}
    </div>
</section>

<style>
    section {
        width: min(100%, var(--max-width));
        color: var(--neutral-50);
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    p {
        font-size: 1.125rem;
        max-width: 50ch;
    }

    .hero__content {
        align-items: start;
    }

    .carousel__controls {
        align-items: center;
    }
</style>

<script src="../scripts/handleCarouselControls.ts"></script>
