---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/src/assets/images/company/logo.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    :root {
        --font: Poppins, system-ui, "Open Sans", sans-serif;
        --neutral-50: #fbfbfc;
        --neutral-100: #f3f3f5;
        --neutral-200: #e8e8ea;
        --neutral-300: #dcdce0;
        --neutral-400: #d1d1d6;
        --neutral-500: #b2b2ba;
        --neutral-600: #a0a0b0;
        --neutral-700: #565660;
        --neutral-800: #2b2b30;
        --neutral-900: #161618;
        --primary-50: #d1f4dd;
        --primary-300: #48d575;
        --primary-500: #208c43;
        --primary-700: #0b3017;
        --primary-900: #06180c;
        --success-500: #b3e145;
        --success-700: #8fce10;
        --success-900: #5c9408;
        --error-500: #ff745c;
        --error-700: #ff3426;
        --error-900: #b71323;
        --glass-color: rgba(255, 255, 255, 0.2);
        --image-background: rgba(0, 0, 0, 0.3);
        --blur-effect: blur(2.5px);
        --box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
        --box-shadow-hover: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
        --max-width: 1542px;
    }

    * {
        padding: 0;
        margin: 0;
        outline: none;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }

    body {
        font-family: var(--font);
        background-color: var(--neutral-50);
        color: var(--neutral-900);
    }

    :is(h1, h2, h3, h4, h5, h6) {
        font-weight: 500;
    }

    h1 {
        font-size: clamp(2.027rem, 5vw + 1rem, 3.815rem);
    }

    h2 {
        font-size: clamp(1.802rem, 4vw + 1rem, 3.052rem);
        text-align: center;
    }

    h3 {
        font-size: clamp(1.602rem, 3vw + 1rem, 2.441rem);
    }

    h4 {
        font-size: clamp(1.424rem, 2.5vw + 1rem, 1.953rem);
    }

    h5 {
        font-size: clamp(1.266rem, 2vw + 1rem, 1.563rem);
    }

    h6 {
        font-size: clamp(1.125rem, 1.5vw + 1rem, 1.25rem);
    }

    p {
        font-size: 1rem;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    a,
    button {
        cursor: pointer;
    }

    button,
    input,
    textarea {
        font-family: inherit;
        font-size: inherit;
    }
</style>
